<div id="navbar-main">
  <!-- Fixed navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <div class="header_icon" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <p class="menu_box"><img src="assets/menu2.png" height="40px" width="40px"></p>
        </div>
        <!-- <a class="navbar-brand hidden-xs hidden-sm" href="#home"><span class="icon icon-shield" style="font-size:18px; color:#3498db;"></span></a> -->
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li> <%= link_to 'Home', root_path, class: "smoothScroll" %></li>
          <li> <a href="/#about" class="smoothScroll"> About</a></li>
          <li> <%= link_to 'Rooms/Booking', bookings_path, class: "smoothScroll" %></li>
          <li> <a href="/#team" class="smoothScroll"> Team</a></li>
          <li> <a href="/#blog" class="smoothScroll"> Reviews</a></li>
          <li> <a href="/#access" class="smoothScroll"> Access</a></li>
          <li> <a href="https://www.facebook.com/TETRISGuestHouseJujo/?fref=ts" class="smoothScroll" target="_blank"> Facebook</a></li>
          <li> <a href="/#contact" class="smoothScroll"> Contact</a></li>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<!-- ==== SECTION DIVIDER3 -->
<section class="section-divider textdivider divider3">
  <div class="container">
    <h1>Our Rooms</h1>
    <hr>
    <p>Tetrisのお部屋を紹介します。</p>
  </div><!-- container -->
</section><!-- section -->

<!-- ==== PORTFOLIO ==== -->
<div class="container" id="portfolio" name="portfolio">
  <br>
  <div class="row">
    <br>
    <h1 class="centered">Beds</h1>
    <hr>
    <br>
    <br>
  </div><!-- /row -->
  <div class="row">
    <!-- PORTFOLIO IMAGE 1 -->
    <div class="col-md-3 ">
        <div class="grid mask">
        <figure>
          <img class="img-responsive" src="assets/prepare1.png" alt="">
          <figcaption>
            <h5>Aタイプ</h5>
            <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
          </figcaption><!-- /figcaption -->
        </figure><!-- /figure -->
        </div><!-- /grid-mask -->
    </div><!-- /col -->

    <!-- PORTFOLIO IMAGE 2 -->
    <div class="col-md-3">
        <div class="grid mask">
        <figure>
          <img class="img-responsive" src="assets/prepare2.png" alt="">
          <figcaption>
            <h5>Bタイプ</h5>
            <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
          </figcaption><!-- /figcaption -->
        </figure><!-- /figure -->
        </div><!-- /grid-mask -->
    </div><!-- /col -->

    <!-- PORTFOLIO IMAGE 3 -->
    <div class="col-md-3">
        <div class="grid mask">
        <figure>
          <img class="img-responsive" src="assets/prepare1.png" alt="">
          <figcaption>
            <h5>Cタイプ</h5>
            <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
          </figcaption><!-- /figcaption -->
        </figure><!-- /figure -->
        </div><!-- /grid-mask -->
    </div><!-- /col -->

    <!-- PORTFOLIO IMAGE 4 -->
    <div class="col-md-3 ">
        <div class="grid mask">
        <figure>
          <img class="img-responsive" src="assets/prepare2.png" alt="">
          <figcaption>
            <h5>Dタイプ</h5>
            <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
          </figcaption><!-- /figcaption -->
        </figure><!-- /figure -->
        </div><!-- /grid-mask -->
    </div><!-- /col -->
  </div><!-- /row -->
  <br>
  <br>
</div><!-- /container -->

<div  class="container price_table" style="font-size: 14px;">
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>部屋タイプ</th>
          <th>家賃/月</th>
          <th>共益費<br>(住人が9人以下の時)</th>
          <th>共益費<br>(住人が10人以上の時)</th>
          <th>共益費<br>(住人が20人以上の時)</th>
          <th>ベッド数</th>
          <th>ベッドサイズ<br>(縦×横×高さ)</th>
          <th>収納サイズ<br>(若干ばらつきあり)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Aタイプ(男性部屋上段ベッド)</td>
          <td>3万円</td>
          <td>9千円</td>
          <td>6千円</td>
          <td>3千円</td>
          <td>9</td>
          <td>2m × 1m × 0.9m</td>
          <td>0.6m × 0.6m × 0.6m</td>
        </tr>
        <tr>
          <td>Bタイプ(男性部屋下段ベッド)</td>
          <td>3万円</td>
          <td>9千円</td>
          <td>6千円</td>
          <td>3千円</td>
          <td>9</td>
          <td>2m × 1m × 1m</td>
          <td>2m × 1m × 0.4m</td>
        </tr>
        <tr>
          <td>Cタイプ(女性部屋上段ベッド)</td>
          <td>3万円</td>
          <td>9千円</td>
          <td>6千円</td>
          <td>3千円</td>
          <td>3</td>
          <td>2m × 1m × 0.9m</td>
          <td>0.6m × 0.6m × 0.6m</td>
        </tr>
        <tr>
          <td>Dタイプ(女性部屋下段ベッド)</td>
          <td>3万円</td>
          <td>9千円</td>
          <td>6千円</td>
          <td>3千円</td>
          <td>3</td>
          <td>2m × 1m × 1m</td>
          <td>2m × 1m × 0.4m</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="gc_wrapper">
  <h1 class="centered">Calendar</h1>
  <hr>
  <br>
  <div class="responsive-iframe-container big-container">
    <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showTabs=0&amp;height=600&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=a0rpejg5l1ipi7n4pphd0ijc4k%40group.calendar.google.com&amp;color=%23711616&amp;src=c6ifgvvf298pfqh9lgn8e0rod4%40group.calendar.google.com&amp;color=%23AB8B00&amp;src=elbvlm56912660ub7fj4taq15c%40group.calendar.google.com&amp;color=%232F6309&amp;src=q0e211nbr0gug1mp85a19tqjb4%40group.calendar.google.com&amp;color=%23182C57&amp;ctz=Asia%2FTokyo" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
  </div><!--end of .responsive-iframe-container big-container-->

  <div class="responsive-iframe-container small-container">
    <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showTabs=0&amp;height=600&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=a0rpejg5l1ipi7n4pphd0ijc4k%40group.calendar.google.com&amp;color=%23711616&amp;src=c6ifgvvf298pfqh9lgn8e0rod4%40group.calendar.google.com&amp;color=%23AB8B00&amp;src=elbvlm56912660ub7fj4taq15c%40group.calendar.google.com&amp;color=%232F6309&amp;src=q0e211nbr0gug1mp85a19tqjb4%40group.calendar.google.com&amp;color=%23182C57&amp;ctz=Asia%2FTokyo" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
  </div><!--end of .responsive-iframe-container small-container-->
</div><!--end of .gc_wrapper-->

<div class="container booking_form">
  <h1 class="centered">Contact</h1>
  <hr>
  <br>
  <%= form_for @booking, :url => bookings_confirm_path do |f| %>
    <% if @booking.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <strong>入力内容にエラーがあります</strong>
        <ul>
          <% @booking.errors.each do |attr, msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <table class="table">
      <tr>
        <th>名前<span class="text-danger">（必須）</span></th>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <th>メールアドレス<span class="text-danger">（必須）</span></th>
        <td><%= f.email_field :email %></td>
      </tr>
      <tr>
        <th>年齢<span class="text-danger">（必須）</span></th>
        <td><%= f.number_field :age %></td>
      </tr>
      <tr>
        <th>性別<span class="text-danger">（必須）</span></th>
        <td><%= f.select :sex, ['Man', 'Woman', 'Others'], { include_blank: '選択してください'} %></td>
      </tr>
        <tr>
        <th>国籍<span class="text-danger">（必須）</span></th>
        <td><%= f.text_field :nationality %></td>
      </tr>
      <tr>
        <th>宿泊予定人数<span class="text-danger">（必須）</span></th>
        <td><%= f.number_field :number_of_people, min: 0 %></td>
      </tr>
      <tr>
        <th>希望ベッドタイプ<span class="text-danger">（必須）</span></th>
        <td><%= f.select :bed_type, ['A', 'B', 'C', 'D'], { include_blank: '選択してください'} %></td>
      </tr>
      <tr>
        <th>入居希望日</th>
        <td><%= f.date_field :checkin_date %></td>
      </tr>
      <tr>
        <th>予定入居日数</th>
        <td><%= f.number_field :period, min: 0 %></td>
      </tr>
      <tr>
        <th>内見希望日時</th>
        <td><%= f.datetime_local_field :preview_date %></td>
      </tr>
      <tr>
        <th>お問い合わせ内容</th>
        <td><%= f.text_area :message %></td>
      </tr>
    </table>
    <%= f.submit '確認', class: 'btn btn-primary' %>
  <% end %>
</div>

<!--
<h1 class="centered">Flow</h1>
<hr>
<br> -->