    <div id="navbar-main">
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon icon-shield" style="font-size:30px; color:#3498db;"></span>
          </button>
          <a class="navbar-brand hidden-xs hidden-sm" href="#home"><span class="icon icon-shield" style="font-size:18px; color:#3498db;"></span></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li> <%= link_to 'Home', root_path, class: "smoothScroll" %></li>
            <li> <a href="#about" class="smoothScroll"> About</a></li>
            <li> <%= link_to 'Rooms/Booking', bookings_path, class: "smoothScroll" %></li>
            <li> <a href="#team" class="smoothScroll"> Team</a></li>
            <li> <a href="#blog" class="smoothScroll"> Reviews</a></li>
            <li> <a href="#access" class="smoothScroll"> Access</a></li>
            <li> <a href="http://ameblo.jp/takknnjp/entry-12167348798.html" class="smoothScroll" target="_blank"> Blog</a></li>
            <li> <a href="#contact" class="smoothScroll"> Contact</a></li>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

		<!-- ==== HEADERWRAP ==== -->
    <div id="headerwrap" id="home" name="home">
			<header class="clearfix">
            <h1></h1>
	  		 		<p>Welcome to our share house</p>
	  		 		<p>Tetris</p>
	  	</header>
    </div><!-- /headerwrap -->

		<!-- ==== GREYWRAP ==== -->
		<div id="greywrap">
			<div class="row">
				<div class="col-lg-4 callout">
          <img class="img" src="assets/earth-globe-1.png" height="120px" width="120px" alt="">
					<h2>International</h2>
					<p>Shield Theme is powered by Bootstrap 3. The incredible Mobile First Framework is the best option to run your website. </p>
				</div><!-- col-lg-4 -->

				<div class="col-lg-4 callout">
          <img class="img" src="assets/piggy-bank.png" height="120px" width="120px" alt="">
					<h2>Reasonable</h2>
					<p>You can use this theme with your iPhone, iPad or MacBook Pro. This theme is retina ready and that is awesome. </p>
				</div><!-- col-lg-4 -->

				<div class="col-lg-4 callout">
          <img class="img" src="assets/access.png" height="120px" width="120px" alt="">
					<h2>Good Access</h2>
					<p>We don't make sites, we craft themes with love & passion. That is our most valued secret. We only do thing that we love.   </p>
				</div><!-- col-lg-4 -->
			</div><!-- row -->
		</div><!-- greywrap -->

		<!-- ==== ABOUT ==== -->
		<div class="container" id="about" name="about">
			<div class="row white">
			<br>
				<h1 class="centered">Our Concept</h1>
				<hr>

				<div class="col-lg-6">
					<p>We believe ideas come from everyone, everywhere. In fact, at BlackTie, everyone within our agency walls is a designer in their own right. And there are a few principles we believe—and we believe everyone should believe—about our design craft. These truths drive us, motivate us, and ultimately help us redefine the power of design. We’re big believers in doing right by our neighbors. After all, we grew up in the Twin Cities and we believe this place has much to offer. So we do what we can to support the community we love.</p>
				</div><!-- col-lg-6 -->

				<div class="col-lg-6">
					<p>Over the past four years, we’ve provided more than $1 million in combined cash and pro bono support to Way to Grow, an early childhood education and nonprofit organization. Other community giving involvement throughout our agency history includes pro bono work for more than 13 organizations, direct giving, a scholarship program through the Minneapolis College of Art & Design, board memberships, and ongoing participation in the Keystone Club, which gives five percent of our company’s earnings back to the community each year.</p>
				</div><!-- col-lg-6 -->
			</div><!-- row -->
		</div><!-- container -->

		<!-- ==== SECTION DIVIDER1 -->
		<section class="section-divider textdivider divider1">
			<div class="container">
				<h1>DESIGN EXPAND BOUNDARIES</h1>
				<hr>
				<p>To achieve real change, we have to expand boundaries. Because the Wild West of what-could-be is unexplored but rife with opportunity.</p>
			</div><!-- container -->
		</section><!-- section -->

		<!-- ==== TEAM MEMBERS ==== -->
		<div class="container" id="team" name="team">
		<br>
			<div class="row white centered">
				<h1 class="centered">MEET OUR AWESOME TEAM</h1>
				<hr>
				<br>
				<br>
				<div class="col-lg-4 centered">
					<img class="img img-circle" src="assets/takeshi.jpg" height="120px" width="120px" alt="">
					<br>
					<h4><b>Takeshi</b></h4>
					<a href="https://twitter.com/takknnjp" class="icon icon-twitter" target="_blank"></a>
					<a href="https://www.facebook.com/takknnjp" class="icon icon-facebook" target="_blank"></a>
					<p>Takeshi combines an expert technical knowledge with a real eye for design. Working with clients from a wide range of industries, he fully understands client objectives when working on a project, large or small.</p>
				</div><!-- col-lg-3 -->

				<div class="col-lg-4 centered">
					<img class="img img-circle" src="assets/masa.jpg" height="120px" width="120px" alt="">
					<br>
					<h4><b>Masa</b></h4>
					<a href="https://twitter.com/Masanobu_Minami" class="icon icon-twitter" target="_blank"></a>
					<a href="https://www.facebook.com/acoustic.jib" class="icon icon-facebook" target="_blank"></a>
					<p>Masa is an experienced marcoms practitioner and manages projects from inception to delivery. He understands the synergy between great design and commercial effectiveness which shines through on every project.</p>
				</div><!-- col-lg-3 -->

				<div class="col-lg-4 centered">
					<img class="img img-circle" src="assets/aleks.png" height="120px" width="120px" alt="">
					<br>
					<h4><b>Aleks</b></h4>
					<a href="#" class="icon icon-twitter" target="_blank"></a>
					<a href="#" class="icon icon-facebook" target="_blank"></a>
					<p>Be a creative director is a hard task, but Aleks loves what he does. His combination of knowledge and expertise is an important pillar in our agency.</p>
				</div><!-- col-lg-3 -->
			</div><!-- row -->
		</div><!-- container -->

		<!-- ==== GREYWRAP ==== -->
		<div id="greywrap">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<img class="img-responsive hiring_box" src="assets/hiring.jpg" align="">
					</div>
					<div class="col-lg-6">
						<h2>We Are Hiring!</h2>
						<p>Do you want to be one of us? Sure you want, because we are an awesome team!. Here we work hard every day to create a good community.</p>
						<p><a class="btn btn-success">Contact Us</a></p>
					</div>
				</div><!-- row -->
			</div>
			<br>
			<br>
		</div><!-- greywrap -->

		<!-- ==== BLOG ==== -->
		<div class="container" id="blog" name="blog">
		<br>
			<div class="row">
				<br>
				<h1 class="centered">WE ARE STORYTELLERS</h1>
				<hr>
				<br>
				<br>
			</div><!-- /row -->

			<div class="row">
				<div class="col-lg-6 blog-bg left_blog">
					<div class="col-lg-4 centered">
					<br>
						<p><img class="img img-circle" src="assets/verena.jpg" width="80px" height="80px"></p>
						<h4>Verena</h4>
						<h5>From Germany</h5>
					</div>
					<div class="col-lg-8 blog-content left_blog_content">
						<h2>Wonderful stay</h2>
						<p>My friends and I had a wonderful stay at Takeshi's new Tetris House. He was a kind and helpful host. <p>i.e. When we tried to rent a car. It was fun sitting together in the evening and talk. Everything was new and clean and taken care of. You are able to find cheap restaurants almost right next to the guest house. </p>If I ever come back to Tokyo, this is the place I'll want to stay. We hope we'll meet again, Takeshi!</p>
						<p><a href="https://www.airbnb.jp/users/show/34167492#reviews" class="icon icon-link"> Read other reviews</a></p>
						<br>
					</div>
				</div><!-- /col -->

				<div class="col-lg-6 blog-bg right_blog">
					<div class="col-lg-4 centered">
					<br>
						<p><img class="img img-circle" src="assets/mersan.jpg" width="80px" height="80px"></p>
						<h4>Mersan</h4>
						<h5>From Romania</h5>
					</div>
					<div class="col-lg-8 blog-content">
						<h2>Lovely place</h2>
						<p>It was a lovely place to stay. It's small, but that's life in Tokyo, a city of millions. Takeshi is very kind and tries to make you feel like home in every way. His mom is the best, and has so warm heart. When I stayed at his place, there was a lot to see and hear in the house. Very international and a lot of people from all over the world. So if you are looking for a place to crash at night and a hot shower that's your place. Don't expect too much, because this is a normal house with a lot of fun and amazing people. :)</p>
						<p><a href="https://www.airbnb.jp/users/show/34167492#reviews" class="icon icon-link"> Read other reviews</a></p>
						<br>
					</div>
				</div><!-- /col -->
			</div><!-- /row -->
			<br>
			<br>
		</div><!-- /container -->

		<!-- ==== SECTION DIVIDER6 ==== -->
		<section class="section-divider textdivider divider6" id="access" >
			<div class="container gc_wrapper">
				<h1 id="access_text">Access</h1>
				<hr>
				<p>2 Chome-31-6 Kamijujo, Kita-ku, Tokyo 114-0034</p>
				<p>+34 9884 4893</p>
        <div class="responsive-iframe-container big-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1618.786125967292!2d139.7215038294065!3d35.76131699999998!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601892f29f31687f%3A0x37903b67e14be793!2z5pel5pysLCDjgJIxMTQtMDAzNCDmnbHkuqzpg73ljJfljLrkuIrljYHmnaHvvJLkuIHnm67vvJPvvJHiiJLvvJY!5e0!3m2!1sja!2sjp!4v1467532924530" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="responsive-iframe-container map-small-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1618.786125967292!2d139.7215038294065!3d35.76131699999998!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601892f29f31687f%3A0x37903b67e14be793!2z5pel5pysLCDjgJIxMTQtMDAzNCDmnbHkuqzpg73ljJfljLrkuIrljYHmnaHvvJLkuIHnm67vvJPvvJHiiJLvvJY!5e0!3m2!1sja!2sjp!4v1467532924530" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
			</div><!-- container -->
		</section><!-- section -->

		<div class="container" id="contact" name="contact">
			<div class="row">
			  <br>
				<h1 class="centered">THANKS FOR VISITING US</h1>
				<hr>
				<br>
				<br>

        <div class="col-lg-6 contact_info">
					<h3>Contact Information</h3>
					<p>
            <span class="icon icon-home"></span> 2 Chome-31-6 Kamijujo, Kita-ku, Tokyo 114-0034<br/>
						<span class="icon icon-phone"></span> +81-(0)90-3450-6566 <br/>
						<!-- <span class="icon icon-mobile"></span> +34 59855 9853 <br/> -->
						<span class="icon icon-envelop"></span> <a> west013minami@gmail.com</a> <br/>
						<!-- <span class="icon icon-twitter"></span> <a href="#"> @blacktie_co </a> <br/> -->
						<span class="icon icon-facebook"></span> <a href="https://www.facebook.com/TETRISGuestHouseJujo/?fref=ts"> Facebook Page </a> <br/>
					</p>
				</div><!-- col -->

        <div class="col-lg-6 booking_form" id="top_contact">
          <h1 class="centered">お問い合わせ</h1>
          <%= form_for @booking, :url => bookings_confirm_path do |f| %>
            <% if @booking.errors.any? %>
              <div class="alert alert-danger" role="alert">
                <strong>入力内容にエラーがあります</strong>
                <ul>
                  <% @booking.errors.each do |attr, msg| %>
                    <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <table class="table" id="right-table">
              <tr>
                <th>名前<span class="text-danger">（必須）</span></th>
                <td><%= f.text_field :name %></td>
              </tr>
              <tr>
                <th>メールアドレス<span class="text-danger">（必須）</span></th>
                <td><%= f.email_field :email %></td>
              </tr>
              <tr>
                <th>年齢<span class="text-danger">（必須）</span></th>
                <td><%= f.number_field :age %></td>
              </tr>
              <tr>
                <th>性別<span class="text-danger">（必須）</span></th>
                <td><%= f.select :sex, ['Man', 'Woman', 'Others'], { include_blank: '選択してください'} %></td>
              </tr>
                <tr>
                <th>国籍<span class="text-danger">（必須）</span></th>
                <td><%= f.text_field :nationality %></td>
              </tr>
              <tr>
                <th>希望ベッドタイプ</th>
                <td><%= f.select :bed_type, ['A', 'B', 'C', 'D'], { include_blank: '選択してください'} %></td>
              </tr>
              <tr>
                <th>入居希望日</th>
                <td><%= f.date_field :checkin_date %></td>
              </tr>
              <tr>
                <th>予定入居期間</th>
                <td><%= f.text_field :period %></td>
              </tr>
              <tr>
                <th>内見希望日</th>
                <td><%= f.date_field :preview_date %></td>
              </tr>
              <tr>
                <th>お問い合わせ内容</th>
                <td><%= f.text_area :message %></td>
              </tr>
            </table>
            <%= f.submit '確認', class: 'btn btn-primary' %>
          <% end %>
        </div>

			</div><!-- row -->

		</div><!-- container -->

